<section class="todolist-wrapper">
    <h1 class="title">TODO LIST APP</h1>
    <div class="new-todo">
        <input type="text" placeholder="Nueva Tarea">
        <button>+</button>
    </div>
    <div class="filters">
        <button>TODOS</button>
        <button>ACTIVOS</button>
        <button>COMPLETADOS</button>
    </div>
    <ul class="todolist">

        <li class="todo">
            <input type="checkbox" >
            <label>Titulo de la Tarea</label>
            <button>Editar</button>
            <button>Eliminar</button>
        </li>
        <li class="todo-editing">
            <input type="text" placeholder="Editar tareas">
        </li>
    </ul>

</section>
